---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h1>Welcome to Geaux Agile</h1>
<h3>The home of the newest Agile workflow, built with 11ty</h3>
<p>This project is in the early stages of work, so check back in later!</p>

{% set maxPosts = collections.posts.length | min(3) %}
<h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
