---
layout: layouts/base.njk
templateClass: tmpl-home
---
<h1>Welcome to Geaux Agile</h1>
<h3>The home of the newest Agile workflow, built with 11ty</h3>
<p>This project is in the early stages of work, so check back in later!</p>

{{ content | safe }}
